@charset "utf-8";

* { margin: 0; padding: 0; }
body, html { width: 100%; height: 100%; overflow: hidden; }

body { background: #808080; color: #000; font: normal 12px/1.2 Verdana, Arial, Helvetica, sans-serif; }

#videoPlayer { width: 100%; background: #000; }
#videoPlayer.droptarget { background: #FFF; }

#grid { overflow-x: hidden; position: relative; }
#grid table { width: 100%; border-collapse: collapse; table-layout: fixed; background: #FFF; text-align: left; }
#grid tbody { overflow-y: scroll; }
#grid .time { width: 200px; }
#grid th,
#grid td { height: 16px; border: 1px solid #CCC; padding: 3px 6px; }

#controls { height: 30px; }
#controls .subtitleControls { float: left; }
#controls .fileControls { float: right; }