@charset "utf-8";

* { margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
html, body { width: 100%; height: 100%; }

body { background: #808080; color: #000; font: normal 12px/1.2 Arial, Helvetica, sans-serif; }

#wrapper { position: relative; height: 67%; }

#player { width: 100%; height: 100%; padding: 0 60px; background: #000; }

.button { display: block; position: absolute; width: 50px; height: 50px; border: none; background: url(images/controls-sprite.png); font-size: 0; line-height: 0; color: transparent; text-indent: -5000em; cursor: pointer; }

#load-video,
#load-video-link { top: 5px; left: 5px; background-position: 0 0; }
#load-subtitles,
#load-subtitles-link { top: 65px; left: 5px; background-position: 0 -50px; }
#load-video-from-youtube { top: 125px; left: 5px; background-position: 0 -100px; }
#set-start { bottom: 5px; left: 5px; background-position: 0 -150px; }
#set-stop { bottom: 65px; left: 5px; background-position: 0 -200px; }
#save { top: 5px; right: 5px; background-position: -50px 0; }
#save-to-youtube { top: 65px; right: 5px; background-position: -50px -50px; }
#change-font { top: 125px; right: 5px; background-position: -50px -100px; }
#help { top: 185px; right: 5px; background-position: -50px -150px; }
#set-stop-start { bottom: 5px; right: 5px; background-position: -50px -200px; }

input[type="file"].button { opacity: 0; }

#grid { height: 33%; overflow-x: hidden; position: relative; }
#grid table { width: 100%; border-collapse: collapse; table-layout: fixed; background: #FFF; text-align: left; }
#grid tbody { overflow-y: scroll; }
#grid .time { width: 200px; }
#grid tr.currentLine { background: #FFFFB0; }
#grid th,
#grid td { height: 16px; border: 1px solid #CCC; padding: 3px 6px; }

#_STP_slsdiv { display: none; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
	.button { background-image: url(images/controls-sprite@2x.png); -webkit-background-size: 100px 250px; -moz-background-size: 100px 250px; background-size: 100px 250px; }
}